<div class="container-map">
  <div class="roadsheet">
<h1>Feuille de route</h1>
<ol>
  <% @activities.each do |activity| %>
    <li><%= activity.name %></li>
  <% end %>
</ol>
  </div>
  <div id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     <div id="info-popup" class="d-none">
       <div class="btn-quit">x</div>
       <div class="infos"></div>
     </div>
  </div>
</div>




