<ol>
  <% @activities.each do |activity| %>
    <li><%= activity.name %></li>
  <% end %>
</ol>

<%= link_to("+", trip_selected_activities_path(@trip, activity_id: Activity.first.id), method: :post)  %>
