

<div class="container-map">
  <div class="roadsheet">
<h1>Feuille de route</h1>

<!--
> nombre de jours sélectionnés listés
> système de drag & drop entre les différents jours
> bouton de confirmation d'itinéraire
 -->



  </div>
  <div id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
