.page-background {
    background-image: url("/images/background-bike.jpg");
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
    max-width: 1000px;
    max-height: 800px;
  }
