// Specific CSS for your home-page
.main-container {
  position: relative;
  height: 100%;
  margin: 16px;
  background: transparent;
}

.home_video {
  width: 100%;
  height: 100%;
  height: 100vh;
  position: relative;
  background: grey;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
}

.wrapper {
  display: flex;
  height: 580px;
  color: darkblue;
}

.col-right {
  flex-basis: 35%;
}

.col-left {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.green {
  background-color: green;
  flex-grow: 3;
  overflow: hidden;
  background-size: 100% 150%;
  background-image: url("https://res.cloudinary.com/dwekobmrk/image/upload/v1598554195/My%20local%20travel/Aventurier/kimson-doan-AZMmUy2qL6A-unsplash_k2v8yy_rtzy30_ps33um.jpg")
}
.blue {
  background-color: blue;
  margin-left: 16px;
  background-size: 100% 150%;
  background-image: url("https://res.cloudinary.com/dwekobmrk/image/upload/v1598556671/My%20local%20travel/Epicurien/victor-rodriguez-iglesias-zTG8dSz10tQ-unsplash_dkzb2z_duymcx.jpg")
}
.yellow {
  background-color: yellow;
  flex-grow: 3;
  background-size: 100% 100%;
  background-image: url("https://res.cloudinary.com/dwekobmrk/image/upload/v1598558093/My%20local%20travel/Aventurier/esther-tuttle-dyjH3YMblpo-unsplash_ia3p3d_mz1csl.jpg")
}
.color {
  margin-top: 16px;
}

.wrapper2 {
  display: flex;
  height: 40vh;
}

.col-left2 {
  flex-basis: 35%;
}

.red {
  background-color: red;
  background-size: 100% 100%;
  background-image: url("https://res.cloudinary.com/dwekobmrk/image/upload/v1598365590/My%20local%20travel/Aventurier/elizeu-dias-xarhNpLSHTk-unsplash_pqvr2f.jpg")
}

.grey {
  background-color: grey;
  margin-left: 16px;
  flex-basis: 69%;
  background-size: 100% 100%;
  background-image: url("https://res.cloudinary.com/dwekobmrk/image/upload/v1598558349/My%20local%20travel/Epicurien/test_ykrtmw.jpg")
}

.wrapper .title .btn {
    display: inline-block;
    border: 0;
    margin: 30px 0 0 0;
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Effra-Medium', arial;
    letter-spacing: 0.3em;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.3);
}

.wrapper .title {
    position: relative;
    left: 44px;
    right: 44px;
    width: fit-content;
    display: inline-block;
}

.wrapper2 .title .btn {
    display: inline-block;
    border: 0;
    margin: 30px 0 0 0;
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Effra-Medium', arial;
    letter-spacing: 0.3em;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.3);
}

.wrapper2 .title {
    position: relative;
    left: 44px;
    right: 44px;
    width: fit-content;
    display: inline-block;
}

.title2 .btn {
    display: inline-block;
    border: 0;
    margin: 30px 0 0 0;
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Effra-Medium', arial;
    letter-spacing: 0.3em;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.3);
}

.title2 {
    position: relative;
    top: 35px;
    left: 215px;
    right: 44px;
    width: fit-content;
}
