// Specific CSS for your home-page
.main-container {
  position: relative;
  height: 100%;
  margin: 16px;
  background: transparent;
  }

#video {
  width: 100%;
  height: 100%;
  height: 100vh;
  position: relative;
  background: grey;
}

.wrapper {
  display: flex;
  height: 580px;
  color: darkblue;
}
.col-right {
  flex-basis: 35%;
}

.col-left {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.green {
  background-color: green;
  flex-grow: 3;
}
.blue {
  background-color: blue;
  margin-left: 16px;
}
.yellow {
  background-color: yellow;
  flex-grow: 3;
}
.color {
  margin-top: 16px;
}

.wrapper2 {
  display: flex;
  height: 45vh;
}

.col-left2 {
  flex-basis: 35%;
}

.red {
  background-color: red;
}

.grey {
  background-color: grey;
  margin-left: 16px;
  flex-basis: 69%;
}
