.body {
  background: white;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;

}
.form-post {
  width: 80%;
  text-align: center;
  justify-content: space-between;
  background: $my-beige;
  font-family: "Rubik";
  margin-top: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: $my-green;
    margin-bottom: 20px;
  }
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: $my-green;
    margin-bottom: 20px;

  }
  .btn {
    width: 50%;
    padding: 10px;
    font-weight: bold;

  }
}

.activity {
  display: flex;
  align-items: top;
}

.activity-choices {

  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: -10px;
}

.mood-choice {
  background: #b7b7b7;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: white;
  color: black;
  opacity: 1;
  }
}

.budget-choice {
  background: #b7b7b7;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: white;
  color: black;
  opacity: 1;
  }
}
.distance-choice {
  background: #b7b7b7;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: white;
  color: black;
  opacity: 1;
  }
}

.day-choice {
  background: #b7b7b7;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: white;
  color: black;
  opacity: 1;
  }
}

