

<div class="charte-main" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dwekobmrk/image/upload/v1599136608/lee-vue-Jbb6-tbJZSM-unsplash_hvfcrn.jpg
)">


<%= render 'shared/navbar' %>




<div class="charte-header">

  <h1>Charte My Local Travel</h1>


<!--
  <p> Notre agence My local travel a intégré dans son fonctionnement interne une "charte éthique".
  Celle-ci a été créée dans le but de respecter au maximum les règles du tourisme durable et de partager au mieux ces valeurs avec ses clients et ses partenaires.
 -->

  </p>
  </div>

<div class="charte-container">
  <h2> UN ENGAGEMENT AVEC NOS PARTENAIRES
  </h2>

  <p> Nous tenons à assurer la promotion du patrimoine naturel, culturel et traditionnel.
  Nous sélectionnons nos partenaires attachés à la notion de tourisme durable et de qualité.
  Nos partenaires font tous partie du territoire.
  Nous nous engageons à respecter les directives et les procédures émises par nos partenaires quant à la commercialisation de leurs produits et services.
  </p>

  </div>
  <div class="charte-container">
  <h2> UN ENGAGEMENT AVEC NOS CLIENTS
  </h2>

  <p> Nous fournissons à nos clients des prestations professionnelles avec compétence et professionnalisme.
  Nous nous engageons à proposer des séjours en lien avec le tourisme durable et l’écotourisme en favorisant des hébergements éco-labélisés, l’utilisation des transports en communs et les transports non-motorisés.
  Nous nous engageons à encaisser la taxe de séjour et de la reverser aux mairies.
  </p>
  </div>

  <div class="charte-container">
  <h2> UNE LUTTE CONTRE TOUTE FORME DE CORRUPTION
  </h2>

  <p> Aucune forme d’incitation financière, de cadeaux, ne peut influencer les décisions de l’agence
  Tous accords commerciaux sont conclus en parfait accord entre les partenaires, résultat d’un consensus libre.
  L'égalité entre les citoyens, touristes et résidents locaux, est défini afin d’éviter toutes formes de déséquilibre et de révolte.

  </p>
</div>
<div class="charte-container">
  <h2> UNE VALORISATION DES DROITS HUMAINS
  </h2>

  <p> Nous soutenons la Déclaration Universelle Des Droits de l’Homme.
  Nous nous engageons à respecter la convention des Nations Unies portant sur le travail des enfants, en refusant notamment l’exploitation des enfants, le travail forcé et leur exploitation sexuelle.
  Nous privilégions un travail en équipe, résultat d’un consensus et d’une équité total entre les membres de l’entreprise.

  </p>
  </div>

 <div class="charte-container">

  <h2> L’ENTRETIEN DU BUREAU :
  </h2>

  <p> L’entretien des bureaux est fait avec des produits éco-labellisés concernant les sols et les sanitaires.
  Aucun produit n’est utilisé pour la poussière et pour le nettoyage des vitres. Uniquement de l’huile de coude.
  Des ampoules à basse consommation sont systématiquement utilisées.
  Mise à part l’imprimante, aucun appareillage n’est maintenu en veille en fin de journée. Tout est systématiquement éteint, notamment les ordinateurs et les veilles des écrans, lors de la fermeture du bureau.

  </p>
 </div>
 <div class="charte-container">
  <h2>LA GESTION DES ÉNERGIES :
  </h2>

  <p> Notre objectif est de respecter à la lettre nos éco-gestes au bureau.
  La gestion des déchets :
  Notre objectif est de trier 100% de nos déchets. Un système de tri  a été mis en place et doit être utilisé par l’ensemble du personnel sur la buanderie à l’arrière du bureau.
  En cas de nécessité de brouillons le verso de ces documents doit être utilisé pour la rédaction des textes.

  Un container pour les plastiques est également à disposition pour y déposer toutes cannettes ou bouteilles usagées.

  </p>
</div>
<div class="charte-container">
  <h2> LA GESTION DES CORRESPONDANCES :
  </h2>

  <p> Pour les contrats, tous les documents doivent être imprimés en duplex, sur du papier recyclés. Les enveloppes utilisées sont également certifiés.
  L’ensemble des démarches commerciales sont faites par internet. Nous n’imprimons aucune brochure.
  Le choix des fournisseurs en produit de bureautique est fait en fonction de leur engagement en développement durable.
  De plus, Les produits de papeterie sont éco labélisé.

  </p>
</div>
<div class="charte-container">
  <h2>LA GESTION DES FOURNISSEURS
  </h2>

  <p>Le choix des fournisseurs en produit de bureautique est fait en fonction de leur engagement en développement durable.
  De plus, Les produits de papeterie sont éco labélisé.
  Les cartouches d’encre de l’imprimante sont des cartouches qui s’intègrent dans un programme de recyclage. En fin de vie, Les cartouches vides sont expédiés au fournisseur, en suivant la procédure indiquée sur l’emballage.
  La plaquette de présentation de l’entreprise, donnée aux prospects, est réalisée par un imprimeur éco-responsable et sur des supports éco-labélisés.
  </p>
</div>
</div>

</div>

</div>
