<div class="main-container">
  <div class="video-container" id="video">
    <header class="home">
      <h1>Pages#home</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
    </header>
  </div>
  <div class="wrapper">
    <div class="col-left">
      <div class="col-left-row-1 color green">
        Lorem 1
      </div>
      <div class="col-left-row-2 color yellow">
        Lorem 2
      </div>
    </div>
      <div class="col-right color blue">
        Lorem 6
      </div>
  </div>
  <div class="wrapper2">
      <div class="col-left2 color red">
        Lorem 3
      </div>
      <div class="col-right2-row-3 color grey">
        Lorem 7
      </div>
  </div>
</div>
