.navigation{
  position:absolute;
  top:0;
  width:100%;
  z-index:1;
}

.navbar-right{
  float:right;
  padding-right:1%;
  padding-top: 16px;
}

.navbar-right a {
  text-decoration:none;
  padding:10px;
  color: #fff;
  font-family:"Rubik";
  font-weight:900;
}

.navbar-right a:hover{
  text-decoration: none;
}

.navbar-brand img {
  width: 230px;
  margin-top: 9px;
  margin-left: 10px;
}

.nav-item.dropdown {
  display: inline;
}

.nav-item {
  display: inline;
}

.navbar-brand {
  padding-top: 0px;
}

.dropdown-menu {
  color: black;
  font-weight: 400;
  background-color: transparent;
  padding: 0.25rem 1.5rem;

}

#slogan {
  color: white;
  display: flex;
  // align-items: center;
  // justify-content: center;
  z-index: 1;
  font-size: 72px;
  position: absolute;
  width: 440px;
  // padding-top: 65px;
  // padding-left: 16px;
  top: 257px;
  left: 70px;
}


