#info-popup {
  position: absolute;
  top: 50px;
  left: 20px;
  right: 20px;
  bottom: 30px;
  background: $success;
  z-index: 100;
  border-left: 2px solid #efefef;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

 h1 {
   color: $body-color;
   font-weight: 300;
   padding-top: 15px;
   text-transform: uppercase;
   margin: 0;
   font-size: 32px;
   font-weight: 300;
 }

 h2 {
  color: $body-color;
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
 }

 h3 {
   margin: 0;
   color: $body-color;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 16px
 }

 p {
  font-family: Work Sans;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
  color: $body-color;
  padding: 20px 0;
  margin: 0;
}
}

.btn-quit {
  background-color: $success;
  font-color: darkgrey;
  font-size: 16px;
  text-align: right;
  padding-right: 10px;

    &:hover {
   color: #aedaa6;
   cursor: pointer;

  }
}

.photo-popup {
  position: relative;
  margin: 0px;
  padding-top: 30px;
  padding-left: 150px;
  padding-bottom: 40px;
  align-content: space-around;
  max-width: 80%;
  max-height: 300px;
}

.carousel-inner {
  max-width: 1000px;
  max-height: 300px;
}

.popup-content {
  font-family: Work Sans;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-add {
  outline: 10px;
  border: 10px;
  background: none;
  border: 2px solid #d9d9d9;
  padding: 8px;
  // margin-top: 5px;
  margin-bottom: 30px;
  color: $body-color;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
  font-family: Work Sans;
  margin-right: 5px;
  // transition: all 0.3s ease;
  font-weight: 500;
  font-weight: bold;

  &:hover {
   border: 1px solid #aedaa6;
   color: #aedaa6;
   cursor: pointer;
   text-decoration: none;
   background-color: #aedaa6;

  }
}
