.mapboxgl-popup {
  position: absolute;
  border-radius: 5px;
  width: 1000px;
  height: 500px;
  background-color: $success;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: $success;
}

#info-popup {
  position: absolute;
  border-radius: 5px;
  top: 50px;
  left: 10px;
  right: 10px;
  background: $success;
  z-index: 100;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

 h1 {
   color: black;
   font-weight: 300;
   padding-top: 5px;
   text-transform: uppercase;
   margin: 0;
   font-size: 32px;
   font-weight: 300;
 }

 h2 {
  color: black;
  margin: 0;
  font-size: 24px;
  color: $primary;
  font-family: Rubik;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
 }

 h3 {
   margin: 0;
   color: black;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 16px
 }

 p {
  font-family: Work Sans;
  font-size: 12px;
  font-family: Rubik;
  line-height: 20px;
  color: black;
  padding:  10px;
  margin: 0;
}
}

.btn-quit {
  border-radius: 5px;
  background-color: $success;
  font-color: darkgrey;
  font-size: 16px;
  text-align: right;
  padding-right: 10px;

    &:hover {
   color: $primary;
   cursor: pointer;

  }
}

.photo-popup {
  position: relative;
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
  max-width: 70%;
  max-height: 300px;
}

.carousel-inner {
  max-width: 1000px;
  max-height: 300px;
}

.popup-content {
  font-family: Work Sans;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
}

.btn-add {
  position: flex;
  background-color: $primary;
  color: white;
  width: 60%;
  padding: 10px 30px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 12px;
  border-radius: 5px;
  font-family: Rubik;
  font-size: 16px;
  border: none;

  &:hover {
    color: #aedaa6;
    cursor: pointer;
  }
}
