.container-map {
  display: flex;
}

#map {
  justify-content: right;
  height: 100vh;
  width:60%;
  position: sticky;
  right: 0px;
  top: 0;
  }

#legend {
  position: absolute;
  font-family: Rubik;
  text-align: left;
  z-index: 1;
  height: 170px;
  width: 160px;
  margin: 10px auto;
  justify-content: right;
  margin-top: 50px;
  margin-left: 693px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

  h4 {
    font-family: Rubik;
    font-size: 14px;
    font-color: #757575;
    padding-top: 10px;
    padding-left: 5px;
    justify-content: right;
    }
}
