.container-map {
  display: flex;
}

#map {
  justify-content: right;
  height: 100vh;
  width:60%;
  position: sticky;
  right: 0px;
  top: 0;
}

.mapboxgl-popup {
  position: absolute;
  width: 1000px;
  height: 500px;
  background-color: $success;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: $success;
}

button .btn-add {
background: none;
border: 1px solid #d9d9d9;
padding: 8px 0px;
margin-bottom: 30px;
color: $body-color;
text-transform: uppercase;
width: 125px;
margin-right: 5px;
font-weight: 500;

  &:hover {
 border: 1px solid #aedaa6;
 color: #aedaa6;
 cursor: pointer;

  }
}

.roadsheet {
  width: 40%;
}

.legend {
  position: absolute;
  height: 30px;
  background-color: white;
}
