.navbar-lewagon {
  justify-content: space-between;
  background-color: $my-beige;
  font-family: "Rubik";
  font-size: 20px;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 230px;
}

.nav-item strong {
  font-weight: bolder;
}

.btn {
  border-radius: 5px;
  margin: 5px;
  font-family: "Rubik";
}

.dropdown-menu .dropdown-menu-right .show {
  border-radius: 5px;
  font-size: $my-beige;
}
