.roadsheet {
  padding: 20px;
  background-color: #EBECE9;
  width: 40%;
}

a.btn-valid-trip {
  background-color: $primary;
  color: white;
  padding: 10px 30px;
  margin: 0 auto;
  justify-content: center;
  width: 150px;
  margin-top: 40px;
  border-radius: 5px;
  font-family: Rubik;
  text-align: center;

  &:hover {
    color: #aedaa6;
    cursor: pointer;
  }
}

.roadsheet-flex {
  display: flex;
  justify-content: center;
}

.roadsheet-btn {
  margin-top: 50px;
}
